.modal-card {
  z-index: 7;
  min-height: 400px;
  width: 50%;
  /* border: 2px solid lightgray; */
  border-radius: 0px;
  background-color: white;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex: 0 0 10%;
  font-weight: bolder;
}

.close {
  border: 1px solid #141E35;
  cursor: pointer;
  padding: 5px;
  font-weight: 100;
}

.modal-card-content {
  flex: 0 0 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modal-card-img {
  width: 50%;
  background-size: cover;
  background-position: center;
  padding: 20px 0px;
}

.movie-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.movie-info > * {
  margin-bottom: 20px;
}
.movie-info > span:first-child {
  font-weight: bolder;
}

@media screen and (max-width: 992px) {
  .modal-card {
    width: 90vw;
    height: 80vh;
  }
  .modal-card-content {
    flex-direction: column;
  }
  .modal-card-img {
    width: 100%;
    height: 25%;
  }
  .movie-info {
    padding: 0px;
    width: fit-content;
  }
}
