*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: lightsteelblue;
}

body {
  height: 100%;
  line-height: 1;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: auto;
  margin: 0;
}

#root {
  min-height: 100%;
  margin: 0px 10vw;
}

@media screen and (max-width: 1200px) {
  #root {
    margin: 0px 7vw;
  }
}

@media screen and (max-width: 992px) {
  #root {
    margin: 0px 4vw;
  }
}
